<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Activity types</title>
</head>
<body>
    <h2>Activity types</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Available</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="activityType : ${activityTypes}">
                <td th:text="${activityType.id}"></td>
                <td th:text="${activityType.name}"></td>
                <td th:text="${activityType.available}"></td>
                <td><a th:href="@{/activity-types/update-activityType/{id}(id=${activityType.id})}">Edit</a></td>
                <td><a th:href="@{/activity-types/delete-activityType/{id}(id=${activityType.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/activity-types/create-activityType">Create activity type</a></p>
    <div>
        <a href="/">To main page</a>
    </div>
</div>
</body>
</html>