<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Lounges</title>
</head>
<body>
<h2>Lounges</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Start work</th>
        <th>Finish work</th>
        <th>Capacity</th>
        <th>Activity Types</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lounge : ${lounges}">
        <td th:text="${lounge.id}"></td>
        <td th:text="${lounge.name}"></td>
        <td th:text="${lounge.address}"></td>
        <td th:text="${lounge.startTime}"></td>
        <td th:text="${lounge.finishTime}"></td>
        <td th:text="${lounge.capacity}"></td>
        <td>
            <ul>
                <li th:each="u : ${lounge.activityTypes}" th:text="${u.name}"></li>
            </ul>
        </td>
        <td><a th:href="@{/lounges/update-lounge/{id}(id=${lounge.id})}">Edit</a></td>
        <td><a th:href="@{/lounges/delete-lounge/{id}(id=${lounge.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</div>
<p><a href="/lounges/create-lounge">Create lounge</a></p>
<p><a href="/">Go to main page</a></p>
</div>
</body>
</html>