<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Activities</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div>
        <h2>Activities</h2>
        <table>
            <thead>
            <tr>
              <!--  <th>Id</th>-->
                <th>Name</th>
                <th>ActivityType</th>
                <th>Available space</th>
                <th>Mentor</th>
                <th>Date</th>
                <th>Start</th>
                <th>Finish</th>
                <th>Price</th>
                <th>Lounge</th>
                <!--<th>Available</th>-->
            </tr>
            </thead>
            <tbody>

            <tr th:each="activity : ${activities}">
              <!--  <td th:text="${activity.id}"></td>-->
                <td th:text="${activity.name}"></td>
                <td th:text="${activity.activityType.name}"></td>
                <td th:text="${activity.capacity - activity.users.size()}"></td>
                <td th:text="${activity.mentor.firstName + ' ' + activity.mentor.lastName}"></td>
                <td th:text="${#temporals.format(activity.dateOfActivity, 'yyyy-MM-dd')}"></td>
                <td th:text="${#temporals.format(activity.startTime, 'HH:mm')}"></td>
                <td th:text="${#temporals.format(activity.finishTime, 'HH:mm')}"></td>
                <td th:text="${activity.price}"></td>
                <td th:text="${activity.lounge.name}"></td>
                <!--<td th:text="${activity.available}"></td>-->
                <td><a th:href="@{/activities/sign-up/{id}(id=${activity.id})}">Sign up</a></td>
                <td><div sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/activities/registered-users/{id}(id=${activity.id})}">Visitors</a>
                    </div>
                </td>
                <td>
                    <div sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/activities/update-activity/{id}(id=${activity.id})}">Edit</a>
                    </div>
                </td>
                <td>
                    <div sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/activities/delete-activity/{id}(id=${activity.id})}">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a href="/activities/create-activity">Create activity</a>
    </div>
    <p><a href="/main">Go to main page</a></p>
</div>
</body>
</html>