<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create activity</title>
</head>
<body>
<form action="#" th:action="@{/create-activity}" th:object="${activity}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <br/>
    <label for="capacity">Capacity </label>
    <input type="number" th:field="*{capacity}" id="capacity" placeholder="Capacity">
    <br/>
    <label for="start">Start </label>
    <input type="datetime-local" name="start" id="start" placeholder="Start of activity">
    <label for="finish">Finish </label>
    <input type="datetime-local" name="finish" id="finish" placeholder="Finish of activity">
    <br/>
    <label for="price">Price</label>
    <input type="number" th:field="*{price}" id="price" placeholder="Price">
    <br/>
    <label for="available">Available</label>
    <input type="checkbox" th:field="*{available}" id="available" placeholder="Is available">
    <br/>
    <select th:field="*{activityType}" >
        <option th:each="activityType : ${activityTypes}"
                th:value="${activityType.id}"
                th:text="${activityType.name}">
        </option>
    </select>
    <br/>
    <select th:field="${activity.lounge}" >
        <option th:each="lounge : ${lounges}"
                th:value="${lounge.id}"
                th:text="${lounge.name}">
        </option>
    </select>
    <br/>
    <input type="submit" value="Create Activity">
</form>
</body>
</html>