<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/create-user}"  method="post">
    <label for="firstName">Name</label>
    <input type="text" name="firstName" id="firstName" placeholder="First name">
    <label for="lastName">Tag</label>
    <input type="text" name="lastName" id="lastName" placeholder="Last name">
    <label for="email">Name</label>
    <input type="text" name="email" id="email" placeholder="Email">
    <label for="phoneNumber">Tag</label>
    <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Phone number">
    <label for="birth">Tag</label>
    <input type="date" name="birth" id="birth" placeholder="Birthday">
    <input type="submit" value="Create User">
</form>
</body>
</html>