<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Starting Yoga</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<span th:text="'Hello bro!'"></span>
<div sec:authorize="isAuthenticated()">
    <span sec:authentication="name"></span>
</div>
<div>
    <a href="/activities">Activities</a>
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/users">List of users</a>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <a href="/activity-types">Activity Types</a>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <a href="/lounges">Lounges</a>
</div>
<div sec:authorize="!isAuthenticated()">
    <a href="/login"><button>Login</button></a>
    <form th:action="@{/registration}" method="get">
        <input type="submit" value="Registration"/>
    </form>
</div>
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>