<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<span th:text="'Hello bro!'"></span>
<div>
    <a href="/activities">Activities</a>
</div>
<div th:if="${admin}">
    <a href="/users">List of users</a>
</div>
<div th:if="${admin}">
    <a href="/activity-types">Activity Types</a>
</div>
<div th:if="${admin}">
    <a href="/lounges">Lounges</a>
</div>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>