<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<body>
<!--<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>-->
Add new user
<span th:text="${message}"></span>
<form th:action="@{/registration}" method="post">
    <div><label> Email : <input type="text" name="email"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>